.edit-profile {
    display: flex;
    flex-direction: column;
}

.profile-container {
    height: 400px;
    display: flex;
    overflow: hidden;
    background-color: #E23E57;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.profile-image-container {
    width: 300px;
    height: 300px;
    position: relative;
    border: 1px solid gray;
    border-radius: 50%;
}

.profile-image {
    width: 100%;
    border-radius: 50%;
    z-index: 2
}

.circle-profile {
    height: 300px;
    width: 110%;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    top: 70%;
}

.text-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container .profile-name {
    font-size: 48px;
    font-weight: bold;
    color: #88304E;
}

.text-container .email {
    font-size: 20px;

}

.text-container .btn-edit{
    font-size: 20px;
    margin-top: 8px;
    background: none;
    border: none;
    outline: none;
    color: #E23E57;
    cursor: pointer;
}

.list-form{
    padding: 0 6%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-label {
    font-size: 20px;
}

.text-input {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #808080;
    padding: 8px
}

.text-input input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}

.text-input .text-input-icon {
    width: 24px;
    height: 24px;
}

.button-container{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.button-submit, .button-cancel{
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.button-submit {
    background-color: #522546;

}

.button-cancel {
    background-color: white;
    border: 1px solid red;
    color: black
}